@import 'styles/shared.scss';

.usercard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 328px;
  height: 254px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--secondary-background);
  @include tablet {
    width: 344px;
  }
  @include desktop {
    width: 282px;
  }
  @include desktop-large {
    width: 370px;
  }
}

.usercard__image {
  border-radius: 50%;
}

.usercard__wrapper {
  cursor: pointer;
  width: 100%;
  position: relative;
  &:hover .tooltip {
    display: block;
    opacity: 1;
  }
}

.usercard__name {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.usercard__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.usercard__email {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.usercard__tooltip {
  top: calc(100% - 20px);
}
