:root {
  --primary-color: #f4e041;
  --secondary-color: #00bdd3;
  --main-background-color: #f8f8f8;
  --secondary-background: #ffffff;
  --button-hovered: #ffe302;
  --button-disabled: #b4b4b4;
  --error-color: #cb3d40;
  --primary-text-color: rgba(0, 0, 0, 0.87);
  --secondary-text-color: #7e7e7e;
  --white-text-color: #ffffff;
  --white-disabled-color: rgba(255, 255, 255, 0.87);
  --border-color: #d0cfcf;
}
