@import 'styles/shared.scss';

.header {
  background-color: var(--secondary-background);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
