@import-normalize; /* bring in normalize.css styles */
@import 'styles/shared.scss';

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-size: var(--main-font-size);
  line-height: var(--main-lineheight);
}
h1,
h2 {
  margin: 0;
  font-size: var(--heading-font-size);
  font-weight: 400;
  line-height: var(--heading-lineheight);
}

h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
